useDynLib(manifestos)
import(munfold,Matrix,mvtnorm,memisc)#,sfsmisc)
importFrom(utils,toLatex)
export(latpos)
export(restrictor)
export(mvt.sampler)
export(mvnorm.sampler)
export(latpos.control)
export(latpos.start)
S3method(vcov,latpos)
S3method(print,latpos)
S3method(summary,latpos)
S3method(print,summary.latpos)
S3method(toLatex,summary.latpos)
S3method(predict,latpos)
S3method(vcov,latpos)
export(set.parms.free)
S3method(relabel,summary.latpos)
