useDynLib(manifestos)
import(munfold,Matrix,mvtnorm,memisc,sfsmisc)
export(latpos)
export(restrictor)
export(as.unfolding)
export(mvt.sampler)
#export(Qmvnorm.sampler) ## Don't use this!
export(mvnorm.sampler)
export(vcov.latpos)
S3method(print,latpos)
S3method(summary,latpos)
S3method(print,summary.latpos)
S3method(toLatex,summary.latpos)
S3method(predict,latpos)
S3method(as.unfolding,latpos)
S3method(vcov,latpos)
S3method(procrustes,latpos)
export(standard.restrictions)
export(rotate.to.restriction)
export(set.parms.free)
export(OrderLoadings)
S3method(OrderLoadings,summary.latpos)
S3method(relabel,summary.latpos)
